server {
    listen 80;
    return 301 https://$host$request_uri;
}

server {

    {% for host in groups['docker'] %}
      listen 443;
      server_name {{ hostvars[host]['ansible_facts']['nodename'] }};

      ssl_certificate           /etc/nginx/cert.crt;
      ssl_certificate_key       /etc/nginx/cert.key;

      ssl on;
      ssl_session_cache  builtin:1000  shared:SSL:10m;
      ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
      ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
      ssl_prefer_server_ciphers on;

      access_log            /var/log/nginx/{{ hostvars[host]['ansible_facts']['nodename'] }}.access.log;

      location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass          http://{{ hostvars[host]['ansible_facts']['nodename'] }}:5000;
        proxy_read_timeout  90;
        proxy_redirect      http://{{ hostvars[host]['ansible_facts']['nodename'] }}:5000 https://{{ hostvars[host]['ansible_facts']['nodename'] }};
      {% endfor %}}  
    }
  }